@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 10%; /* Darker background */
    --foreground: 0 0% 90%; /* Lighter foreground */
    --card: 0 0% 15%; /* Darker card */
    --card-foreground: 0 0% 90%;
    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 90%;
    --primary: 43 64% 61%; /* Lighter gold */
    --primary-foreground: 0 0% 10%;
    --secondary: 0 0% 30%; /* Dark gray */
    --secondary-foreground: 0 0% 90%;
    --muted: 0 0% 30%;
    --muted-foreground: 0 0% 90%;
    --accent: 43, 35%, 52%; /* Darker accent */
    --accent-foreground: 0 0% 10%;
    --destructive: 0 100% 40%; /* Darker destructive */
    --destructive-foreground: 0 0% 90%;
    --border: 0 0% 30%; /* Darker border */
    --input: 0 0% 30%;
    --ring: 43 64% 61%; /* Lighter gold */
    --radius: 0.5rem;
    --chart-1: 43, 35%, 52%; /* Darker accent */
    --chart-2: 43 64% 61%; /* Lighter gold */
    --chart-3: 0 0% 30%; /* Dark gray */
    --chart-4: 0 0% 90%; /* Lighter chart */
    --chart-5: 0 0% 10%; /* Darker chart */
  }

  .dark {
    --background: 0 0% 10%; /* Darker background */
    --foreground: 0 0% 90%; /* Lighter foreground */
    --card: 0 0% 15%; /* Darker card */
    --card-foreground: 0 0% 90%;
    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 90%;
    --primary: 43 64% 61%; /* Lighter gold */
    --primary-foreground: 0 0% 10%;
    --secondary: 0 0% 30%; /* Dark gray */
    --secondary-foreground: 0 0% 90%;
    --muted: 0 0% 30%;
    --muted-foreground: 0 0% 90%;
    --accent: 43, 35%, 52%; /* Darker accent */
    --accent-foreground: 0 0% 10%;
    --destructive: 0 100% 40%; /* Darker destructive */
    --destructive-foreground: 0 0% 90%;
    --border: 0 0% 30%; /* Darker border */
    --input: 0 0% 30%;
    --ring: 43 64% 61%; /* Lighter gold */
    --chart-1: 43, 35%, 52%; /* Darker accent */
    --chart-2: 43 64% 61%; /* Lighter gold */
    --chart-3: 0 0% 30%; /* Dark gray */
    --chart-4: 0 0% 90%; /* Lighter chart */
    --chart-5: 0 0% 10%; /* Darker chart */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* make scroll bars less ugly */
@layer utilities {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(121, 121, 121);
    border-radius: 6px;
  }
}
